<p id="notice"><%= notice %></p>
  <ol class="inline gap">
    <h3>Comments</h3>
    <% if @comments.empty? %>
        <p>There are no comments yet</p>
    <% else %>
        <% @comments.reverse_order.each do |comment| %>
              <div>
                <small><%= link_to comment_path (comment), method: :put do %>
                      ▲
                  <% end %> 
                  by <a href="/user?id=<%= comment.user_id %>"> <%= comment.user.name %> </a>
                  <%= time_ago_in_words(comment.created_at) %> ago |
                  <a href="/contribucions/<%= comment.contribucion_id %>"> parent </a> |
                  <a href="/comments/<%= comment.id %>/edit"> edit </a> |
                  <a><%= link_to 'delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></a> | on:
                  <a href="/contribucions/<%= comment.contribucion_id %>"> <%= comment.contribucion.title %></a>
                </small>
              </div>
              <div>
                <div class="pad-comment">
                  <%= comment.content %>
                </div>
              </div>
        <% end %>
    <%end%>
  </ol>
  
  <ol class="inline gap">
    <h3>Replies</h3>

    <% if @replies.empty? %>
        <p>There are no replies yet</p>
    <% else %>
        <% @replies.reverse_order.each do |reply| %>
            <div>
              <small><%= link_to reply_path (reply) do %>
                    ▲
                <% end %> 
                by <a href="/user?id=<%= reply.user_id %>"> <%= reply.user.name %> </a>
                <%= time_ago_in_words(reply.created_at) %> ago |
              </small>
            </div>
            <div>
              <div class="pad-comment">
                <%= reply.content %>
              </div>
            </div>
        <% end %>
    <%end%>
  </ol>
</div>