<p id="notice"><%= notice %></p>
  <ol class="inline gap">
    <h3>Comments</h3>

    <% if @comments.empty? %>
        <p>There are no comments yet</p>
    <% else %>
        <% @comments.reverse_order.each do |comment| %>
            <div>
              <small><%= link_to like_comment_path (comment), method: :put do %>
                    ▲
                <% end %> <a href="/users/<%= comment.user_id %>"> <%= getUser(comment.user_id).username %></a>
                <%= time_ago_in_words(comment.created_at) %>
                |<a href="/submissions/<%= comment.submission_id %>">
                topic |
              </a> <%= comment.get_upvotes.size%> votes
              </small>
            </div>
            <div>
              <div class="pad-comment">
                <%= comment.content %>
              </div>
            </div>
        <% end %>
    <%end%>
  </ol>