<p id="notice"><%= notice %></p>

<div><small> <%= link_to comment_path(@comment), method: :put do %>
          ▲
<% end %>
about <%= time_ago_in_words(@comment.created_at) %> | </small> </div>

<p>
  <strong>Contribucion:</strong>
  <%= @comment.contribucion.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<div><small>
      <%= link_to 'Reply', new_reply_path(comment_id: @comment.id) %></small></div>

<% for reply in @comment.replies %>
        <div class="reply">
          <div><small><%= link_to reply_path (reply) do %>
                ▲
            <% end %>
            by <a href="/user?id=<%= reply.user_id %>"> <%= reply.user.name %> </a> about <%= time_ago_in_words(reply.created_at) %> </small> </div>
          <%= reply.content %>
        </div>
    <% end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', @comment.contribucion %>
