<p id="notice"><%= notice %></p>


    <div><small> <%= link_to like_comment_path (@comment), method: :put do %>
          ▲
      <% end %>
      <a href="/users/<%= @comment.user_id %>"><%= getUser(@comment.user_id).username %></a> about <%= time_ago_in_words(@comment.created_at) %> | <%= @comment.get_upvotes.size%> votes</small> </div>

<p>
  <strong>Submission:</strong>
  <%= @comment.submission_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
