<p id="notice"><%= notice %></p>


    <div><small> <%= link_to comment_path(@comment), method: :put do %>
          ▲
      <% end %>
      about <%= time_ago_in_words(@comment.created_at) %> | </small> </div>

<p>
  <strong>Contribucion:</strong>
  <%= @comment.contribucion_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
