<p id="notice"><%= notice %></p>

<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
<% x=0 %>


  <tbody>
    
    <% @contribucions.each do |contribucion| %>
    
     <% if contribucion.tipus == "url" %>
    
        <% x+=1 %>
        <% uri = URI.parse(contribucion.url) %>
          <tr>
            <tr class="athing">
            <td class="title" valign="top" align="right"><span class="rank"><%= x %><a>.</a></span></td>  
            <td class="title"><%= link_to '▲', point_contribucion_path(contribucion), method: :put %>
            <a href= <%= contribucion.url %> class="storylink"><%=contribucion.title%></a>
            <span class="sitebit comhead"> (<a href=<%= uri.host %>><span class="sitestr"> <%= uri.host %> </span></a>)</span></td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td class ="subtext"> 
              <span class="Points"> <%= contribucion.points %> points </span> by
              <a> <%= link_to contribucion.user.name, "/users/" + (contribucion.user).id.to_s %></a>
              <a> <%= time_ago_in_words( contribucion.created_at) %> ago</a>
              |
              <a><%= link_to 'show', contribucion %></a>
              |
              <a><%= link_to 'edit', edit_contribucion_path(contribucion) %></a>
              |
              <a><%= link_to 'delete', contribucion, method: :delete, data: { confirm: 'Are you sure?' } %></a>
            </td>
          </tr>
    <% else %>
    <% end %>
    <% end %>
  </tbody>
</table>
