<p id="notice"><%= notice %></p>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
<p>
  <strong>Title:</strong>
  <%= @contribucion.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contribucion.url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @contribucion.text %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @contribucion.user.name, "/users/" + (@contribucion.user).id.to_s %>
</p>

<%= link_to "Add Comment", new_comment_path(contribucion_id: @contribucion.id) %> |
<%= link_to 'Edit', edit_contribucion_path(@contribucion) %> |
<%= link_to 'Back', contribucions_path %>
<br></br><br></br>
<b>Comments:</b>
  <div style="margin-top: 10px;">
    <% @contribucion.comments.reverse.each do | comment | %>
      <div><small>
        <% if (current_user != nil) && (current_user.liked? comment) %>
        <% else %>
        <%= link_to '▲', like_comment_path(comment.id), method: :get%>
        <% end %>
        <span class="Points"> <%= comment.get_upvotes.size - comment.get_downvotes.size %> points </span>
        <%= link_to comment.user.name, "/users/" + (comment.user).id.to_s %> 
        <%= time_ago_in_words(comment.created_at) %> ago 
         <% if (current_user != nil) && (current_user.liked? comment) %>
        <%= link_to 'unlike', unlike_comment_path(comment.id), method: :get%>
        <%end%>
      </small> </div>
      <div class="commtext c00">
        <%= comment.content %>
      </div>
      <div><small>
      <div class="pad-comment">
        <%= link_to 'Reply', comment %></small>
      </div></div>
      <br></br>
        
    <% end %>
  </div>
</table>
</p>
