<header class="navbar navbar-fixed-top navbar-inverse"
        style="background-color:#FF6600;"
        size="17px">
  
  <div class="container">
    <%= link_to "HackerNewsClone", '/' , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% if current_page?("/newest") %>
          <li><%= link_to "news",    newest_path, class: 'link-to-text-color'%></li>
        <% else %>
          <li><%= link_to "news",    newest_path %></li>
        <% end %>
        <li><%= link_to "submit",    submit_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% unless current_user %>
            <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
            <% else %>
            <li><%= link_to "Edit Profile", "/users/edit" %></li> 
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>