<header class="navbar navbar-fixed-top navbar-inverse"
        style="background-color:#FF6600;"
        size="17px">
  
  <div class="container">
    <%= link_to "HackerNewsClone", root_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% if URI(request.url).path == newest_path %>
          <li><%= link_to "news",       newest_path, id: "sublogoD" %></li>
          <li><%= link_to "ask",        ask_path, id: "sublogo"  %></li>
          <% if current_user %>
            <li><%= link_to "threads",    thread_path, id: "sublogo"  %></li>
          <% end %>
          <li><%= link_to "submit",   submit_path, id: "sublogo"  %></li>
        <% elsif URI(request.url).path == ask_path %>
          <li><%= link_to "news",       newest_path, id: "sublogo" %></li>
          <li><%= link_to "ask",        ask_path, id: "sublogoD"  %></li>
          <% if current_user %>
            <li><%= link_to "threads",    thread_path, id: "sublogo"  %></li>
          <% end %>
          <li><%= link_to "submit",   submit_path, id: "sublogo"  %></li>
        <% elsif URI(request.url).path == thread_path %>
          <li><%= link_to "news",       newest_path, id: "sublogo" %></li>
          <li><%= link_to "ask",        ask_path, id: "sublogo"  %></li>
          <% if current_user %>
            <li><%= link_to "threads",    thread_path, id: "sublogoD"  %></li>
          <% end %>
          <li><%= link_to "submit",   submit_path, id: "sublogo"  %></li>
        <% else %>
          <li><%= link_to "news",       newest_path, id: "sublogo" %></li>
          <li><%= link_to "ask",        ask_path, id: "sublogo"  %></li>
          <% if current_user %>
          <li><%= link_to "threads",    thread_path, id: "sublogo"  %></li>
          <% end %>
            <li><%= link_to "submit",   submit_path, id: "sublogo"  %></li>
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% unless current_user %>
            <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
            <% else %>
            <li><%= link_to current_user.name, "/users/edit" %></li> 
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>